.mainheading{
    text-align: center;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
.btn-success{
    background-color: orange; /* Orange */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
.btn-success:hover {background-color: #3e8e41}

.btn-success:active {
  background-color: orange;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.btn-center{
    background-color: #f44336; /* Red */
     border: 2px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
.btn-center:hover {background-color: #3e8e41}

.btn-center:active {
  background-color: orange;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.btn-dark{
    background-color: #f44336; /* Red */
     border: 2px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
.btn-dark:hover {background-color: #3e8e41}

.btn-dark:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
h1 { 
  color: black;
  text-align: center;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
 body {
      background-image: url("https://images.pexels.com/photos/733857/pexels-photo-733857.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    
            }
  p  {
    color: black;
  text-align: center;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 22px;
     }
.button{
  background-color:  orange; /* Orange */
     border: 2px solid black; /* Black */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    border-radius: 12px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.Ebus{
   background-color:  orange; /* Orange */
     border: 2px solid black; /* Black */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;  
    border-radius: 12px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
.Ebus:hover {background-color: #3e8e41}

.Ebus:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.btnProceed{
   background-color:  DodgerBlue; /* Blue */
     border: 2px solid black; /* Black */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;   
    border-radius: 12px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
.btnProceed:hover {background-color: #3e8e41}

.btnProceed:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.header {
    background-color: #f1f1f1;
    padding: 0px;
    text-align: center;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
.footer {
   position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
.git{
   background-color:  orange; /* Orange */
     border: 2px solid black; /* Black */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;  
    border-radius: 12px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
.git:hover {background-color: #3e8e41}

.git:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.icon-bar {
    float:left;
    width: 90px;
    background-color: orange;
    border-radius: 12px;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #3e8e41;
    border-radius: 12px;
}
