.mainheading{
    text-align: center;
}
.btn-success{
    background-color: #f44336; /* Purple */
     border: Purple;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn-center{
    background-color: #f44336; /* Purple */
     border: Purple;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
h1 { 
  color: black;
  text-align: center;
}
 body {
            background-color: LightBlue;
            }
  p  {
    text-align: center;
     }
.button{
  background-color:  #ff6600; /* Orange */
     border: 2px solid yellow; /* Yellow */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;  
}
.Ebus{
   background-color:  #ff6600; /* Orange */
     border: 2px solid yellow; /* Yellow */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;   
}
    